.card {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 25%;
   text-align: center;
}

.card h4 {
   letter-spacing: 1px;
   margin-bottom: 1rem;
}

.card p {
   margin-bottom: 1rem;
   letter-spacing: 1px;
}

.card img {
   margin-bottom: 1rem;
   border-radius: 10px;
}
