.products-section {
   margin: 3rem auto;
}

.products-cards-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 4rem;
   margin: 4rem auto;
}

.products-section h2 {
   text-align: center;
}

.products-section img {
   max-height: 170px;
}

/* .products-section .product-button {
   padding: 0.5rem 0.75rem;
} */
